.fruit-list {
    display: flex;
    justify-content: space-around;
  }
  
  .card {
    width: 150px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
    background-color: #e0e4e5;
  }
  